<navbar-root></navbar-root>
<herosec-root></herosec-root>

<app-product></app-product>

<div class="appComp">
    <h3>this is main app component</h3>

    <ul>
        <li>Angular is a front end framework which is built on top of typescript</li>
        <li>which is used to create SINGLE PAGE APPLICATION SPA</li>
        <li>Angular project includes so many files and configuration</li>
        <li>So we create using Creation of angular project using angular CLI (command line interface)</li>


    </ul>

</div>

<footer-root></footer-root>